<div id="contact-page">
    <h1>Nous contacter</h1>

    <form class="contact-form" action="contact-page.php" method="POST">
            <div class="space">
                <label for="pseudo">Pseudonyme</label>
                <input type="text" id="pseudo" name="pseudo" placeholder="pseudo" maxlength="30" required>
            </div>

            <div class="space">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="email@email.com" maxlength="255" required>
            </div> 

            <div class="space">  
                <label for="message">Message</label>
        
                <textarea
                type="text"
                    name="message" 
                    rows="10" 
                    cols="30"
                    placeholder="Message"
                    maxlength="300"
                    required
                ></textarea>
            </div> 
                <!-- send button -->
                <div class="send-button">
                    <button type="submit">
                        Envoyer
                </button>
             </div>
            
    </form>

    
</div>