
<!DOCTYPE html>
<html lang="fr">
    <head>
        <link href="/Users/kucinska/Documents/GitHub/APP2425-G1B-MakerHUB/assets/css/style.css" rel="stylesheet">
    </head>

<body>
<div id="contact-page">
    <div class="title">
        <h1>Nous contacter</h1>
    </div>

    <form class="contact-form">
            <div class="space">
                <label for="Pseudonyme">Pseudonyme</label>
                <input type="text" id="Pseudonyme" name="Pseudonyme" placeholder="Pseudonyme">
            </div>

            <div class="space">
                <label for="Email">Email</label>
                <input type="email" id="Email" name="Email" placeholder="Email@email.com">
            </div> 

            <div class="space">  
                <label for="Message">Message</label>
        
                <textarea
                type="text"
                    name="Message" 
                    rows="10" 
                    cols="30" 
                    placeholder="Message"
                    
                ></textarea>
            </div> 
                <!-- send button -->
                <div class="send-button">
                    <button type="submit">
                        Envoyer
                </button>
             </div>
            
    </form>

    
</div>


</body>


</html>