<main class="main">
    <div class="mini-menu">
            <a href="./admin-faq.php" ><div class="submitButton">FAQ</div></a>
            <a href="./admin-product.php" ><div class="submitButton">Produit</div></a>
            <a href="./admin-contact.php" ><div class="submitButton">Demande contact</div></a>
    </div>


    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th></th>
        </tr>
        <?php
        foreach($users as $user) {
            $prenom = $user['prenom'];
            $nom = $user['nom'];
            $email = $user['mail'];
            $id = $user['id_utilisateur'];
        ?>
            <tr>
                <td><?php echo($prenom);?></td>
                <td><?php echo($nom);?></td>
                <td><?php echo($email);?></td>
                <td>
                    <a onclick="deleteUser(<?php echo($id); ?>)">
                        <button>
                            <i class="fa-regular fa-trash-can" style="color: #ffffff;">                                   
                            </i>
                        </button>
                    </a>
                </td>
            </tr>
        <?php } ?>
    </table>


            <section id="supprimer-utilisateur" class="section content-box">
                <h2>Utilisateurs</h2>
                <form class="form-container" method="post" action="./modele/user/getUser.php">
                    <label for="show_user">Rechercher un utilisateur</label>
                    <select name="show_user" autocomplete="on" required>
                        <option value=""> -- Sélectionner un utilisateur -- </option>
                        <?php foreach($users as $user) {
                            $id_user = $user['id_utilisateur'];
                            $email = $user['mail'];?>
                            <option value="<?php echo($id_user);?>"><?php echo($email);?></option>
                        <?php } ?>
                    </select>

                    <input class="submit" type="submit" value="Voir">
                    <!--onclick="showUser(<?php echo($users);?>,<?php echo($id_user);?>)"-->
                </form>
                <?php 
                if (isset($_GET['user'])){
                    $user =  $_GET['user'];
                    $user = json_decode($user, true);
                    $prenom = $user['prenom'];
                    $nom = $user['nom'];
                    $email = $user['mail'];
                    $id = $user['id_utilisateur'];
                    $pseudo = $user['pseudonyme'];
                    $description = $user['description'];
                    $telephone = $user['telephone'];
                    
                ?>
                <div>
                    <p>Nom : <?php echo $nom;?></span></p>
                    <p>Prénom : <?php echo $prenom;?></span></p>
                    <p>Pseudonyme : <?php echo $pseudo;?></span> </p>
                    <p>Adresse email : <?php echo $email;?></span></p>
                    <p>Description : <?php echo $description;?></span></p>
                    <p>Téléphone : <?php echo $telephone;?></span></p>    
                </div>
                <?php } else {
                    echo "Aucun utilisateur sélectionné";
                }?>
            </section>
</main> 