
<head>
    <title>Panel d'Administration</title>
</head>
<body>
    <div class="container admin-menu">
        <h1>Panel d'Administration</h1>
            <ul>
                <li><a href="admin-user.php" class="submitButton">Gestion utilisateurs</a></li>

                <li><a href="admin-product.php" class="submitButton">Gestion produits</a></li>

                <li><a href="admin-faq.php" class="submitButton">Gestion FAQ</a></li>

                <li><a href="admin-contact.php" class="submitButton">Demande contact</a></li>
            </ul>
    </div>
