<main class="main">
    <div class="mini-menu">
            <a href="./admin-faq.php" ><div class="submitButton">FAQ</div></a>
            <a href="./admin-product.php" ><div class="submitButton">Produit</div></a>
            <a href="./admin-user.php" ><div class="submitButton">Utilisateur</div></a>
    </div>


    <table>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Message</th>
            <th></th>
        </tr>
        <?php
        foreach($forms as $form) {
            $pseudo = $form['pseudo'];
            $email = $form['email'];
            $message = $form['message'];
            $id = $form['id_formulaire'];
        ?>
            <tr>
                <td><?php echo($pseudo);?></td>
                <td id="source_email"><?php echo($email);?></td>
                <td><?php echo($message);?></td>
                <td id="modif_button" style="display:block;">
                    <a onclick="answerForm(<?php echo($id); ?>)">
                        <button>
                            <i class="fa-regular fa-pen-to-square" style="color: #ffffff;">                                   
                            </i>
                        </button>
                    </a>
                </td>
                <td id="answer_form" style="display:none;">
                    <form onsubmit="setForm()" >
                        <label for="answer">Réponse</label>
                        <br>
                        <textarea type="text"  id="answer_text" name="answer_text" placeholder="Réponse" required></textarea>
                        <br>
                        <input type="hidden" id="id_form_answer" name="id">
                        <input type="hidden" id="email_form_answer" name="email">
                        <input class="submit" type="submit" value="Envoyer">
                    </form>
                </td>
            </tr>
           
        <?php } ?>
    </table>
</main> 

<script>
    function answerForm(id) {
        var answerForm = document.getElementById('answer_form');
        var modifButton = document.getElementById('modif_button');
        var email = document.getElementById('source_email').innerHTML;
        console.log(email);

        if (answerForm.style.display === 'none') {
            answerForm.style.display = 'block';
            modifButton.style.display = 'none';
            document.querySelector('input[name="id"]').value = id;
            document.querySelector('input[name="email"]').value = email;


        } else {
            answerForm.style.display = 'none';
            modifButton.style.display = 'block';
        }
                  
    }


function setForm() {
    xmlhttp = new XMLHttpRequest();
    id = document.getElementById("id_form_answer").value;
    answer = document.getElementById("answer_text").value;
    email = document.getElementById("email_form_answer").value;

    try{
        if (window.XMLHttpRequest) {
            xmlhttp= new XMLHttpRequest();
    
        } else {
            if (window.ActiveXObject)
                try {
                    xmlhttp= new ActiveXObject("Msxml2.XMLHTTP");
                } catch (e) {
                    try {
                        xmlhttp= new ActiveXObject("Microsoft.XMLHTTP");
                    } catch (e) {
                        return NULL;
                    }
                }
        }

        xmlhttp.onreadystatechange = function ()
        {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
            {
                console.log(xmlhttp.responseText);
                window.location.reload();
            
            }
        }
            xmlhttp.open("POST", "./modele/contact/setForm.php", true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send("id="+id+"&answer="+answer+"&email="+email);
            //window.location.reload();
    }
    catch(e){
        console.log(e.toString());
    }
}
</script>