  <main class="main">
    <div class="mini-menu">
        <a href="./admin-faq.php" ><div class="submitButton">FAQ</div></a>
        <a href="./admin-user.php" ><div class="submitButton">Utilisateur</div></a>
        <a href="./admin-contact.php" ><div class="submitButton">Demande contact</div></a>
    </div>

    <table>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Prix</th>
            
            <th>Image</th>
            <th></th>
        </tr>
        <?php
        foreach($products as $product) {
            $titre = $product['titre'];
            $description = $product['description'];
            $prix = $product['prix'];
            
            $id = $product['id_produit_fini'];
            $chemin_image = $product['chemin_image'];
        ?>
            <tr>
                <td><?php echo($titre);?></td>
                <td><?php echo($description);?></td>
                <td><?php echo($prix);?> €</td>
               
                <td>
                    <?php 
                    if ($chemin_image == NULL){
                        $chemin_image = "./images/placeholder.png";
                    }else{
                    ?>
                        <!--<img src="<?php echo $chemin_image;?>" alt="<?php echo $titre; ?>" style="width: 100px; height: 100px;">-->
                    <?php } ?>
                <td>
                    <a onclick="deleteProduct(<?php echo($id); ?>)">
                        <button>
                            <i class="fa-regular fa-trash-can" style="color: #ffffff;">                                   
                            </i>
                        </button>
                    </a>
                </td>
            </tr>
        <?php } ?>
    </table>

        <section id="supprimer-produit" class="section content-box">
            <h2>Produits</h2>
            <form class="form-container" method="post" action="./modele/catalog/offer/getOfferById.php">
            <label for="suppression_produit">Rechercher un produit</label>
            <select name="show_product" autocomplete="on" required>
                    <option value=""> -- Sélectionner un produit -- </option>
                    <?php foreach($products as $product) {
                        $id = $product['id_produit_fini'];
                        $titre = $product['titre']; 
                        ?>
                        <option value="<?php echo($id);?>"><?php echo($titre);?></option>
                    <?php } ?>
                </select>
                <input class="submit" type="submit" value="Voir">
            </form>
            <?php 
            if (isset($_GET['product'])){
                $product =  $_GET['product'];
                $product = json_decode($product, true);
                

                $titre = $product['titre'];
                $description = $product['description'];
                $prix = $product['prix'];
                $vendeur = $product['vendeur'];    
                $chemin_image = $product['chemin_image'];          
            ?>
            <div>
                <?php 
                if ($chemin_image == NULL){
                    $chemin_image = "./images/placeholder.png";
                }else{
                ?>
                    <!--<img src="<?php echo $chemin_image;?>" alt="<?php echo $titre; ?>" style="width: 100px; height: 100px;">-->
                <?php } ?>
                
                <p>Titre : <?php echo $titre;?></span></p>
                <p>Description : <?php echo $description;?></span></p>
                <p>Prix : <?php echo $prix;?></span> </p>
                <p>Vendeur : <?php echo $vendeur;?></span></p>

            </div>
            <?php } else {
                echo "Aucun produit sélectionné";
            }?>
        </section>

    </main> 