footer {
    border: 5 px solid #122965;
    padding: 5px;
    width: 100%;
    background-color: #122965;
    color : white;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.bloc {
    width:  25%;
    margin: 0 30px;
}