    <footer class="footer">
        <div class="footer-logo">
            <img src="./assets/images/maker-hub-icon.svg" alt="Icône MakerHUB">
        </div>

        <div class="footer-copyrights">
            <p>MakerHUB</p>
            <p>© 2024, <a href="#" class="underline">GNU v3.0</a></p>
        </div>

        <div class="footer-links">
            <ul class="footer-links-list">
                <li class="underline"><a href="#">Nous contacter</a></li>
                <li><a href="legal-notices.php">Mentions légales</a></li>
                <li><a href="#">Politique de cookies</a></li>
                <li><a href="#">CGU</a></li>
                <li><a href="#">CGPS</a></li>
                <li><a href="faq.php">FAQ</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/c54f418805.js" crossorigin="anonymous"></script>
</body>
</html>