<!DOCTYPE html>
<head>
    <link href="style.css" rel="stylesheet">
    
</head>
<table class="shopping_cart">
    <tr>
        <th>Photo Produit</th>
        <th>Produit</th>
        <th>Reference Produit</th>
        <th>Prix</th>
        <th>Prix de livraison</th>
        <th>Total</th>
        <th></th>
      </tr>
      <tr>
        <td>photo</td>
        <td>statue</td>
        <td>produit n.24545465</td>
        <td>5 euro</td>
        <td>3 euro</td>
        <td>8 euro</td>
        <td> <button>Delete</button></td>
      </tr>
</table>
<button id="Return_buy">Retour aux achats</button>
<button id="Order">Passer la commande</button>
