<!DOCTYPE html>
<head>
    <link href="style.css" rel="stylesheet">
    
</head>
<div class="title">
<h5> Panier</h5></div>
<div class="small">
<p>Passez la commande</p>
</div>
<table class="shopping_cart">
    <tr>
        <th class="elements">Photo Produit</th>
        <th class="elements">Produit</th>
        <th class="elements">Reference Produit</th>
        <th class="elements">Prix</th>
        <th class="elements">Prix de Livraison</th>
        <th class="elements">Total</th>
        <th></th>
      </tr>
      <tr>
        <td>photo</td>
        <td>statue</td>
        <td>produit n.24545465</td>
        <td>5 euro</td>
        <td>3 euro</td>
        <td>8 euro</td>
        <td> <button>Delete</button></td>
      </tr>
</table>
<div class="button-order">
<button id="Return_buy" style="width: 150px;height: 40px;">Retour aux achats</button>
<button id="Order" style="width: 150px;height: 40px;">Passer la commande</button>
</div>