body {
    margin: 0;
}

footer {
    background-color: #122965;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    position: absolute;
    left: 20px;
    width: 10%;
}

#copyrights {
    color: white;
    margin-left: 10%;
}

#footer-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: white;
    text-decoration: none;
}
