<head>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<div id="cookies">
 
    <div class="cookies">
        <h1>Notre politiques de cookies</h1>

        <div class="cookies-section">
            <h2>Introduction</h2>

            <p>MakerHub utilise des cookies pour améliorer votre expérience de navigation sur notre site web.
                En utilisant notre site, vous acceptez ou non notre politque de cookies.  </p>
        </div>

        <div class="cookies-section">
            <h2>Quelles données collectons nous ?</h2>

            <p>Nous collectons différents types de cookies .....       </p>

        </div>

        <div class="cookies-section">
            <h2>Que faisons nous avec ?</h2>

            <p>Les cookies que nous collectons ont pour unique but d'améliorer votre expérience sur notre site.        </p>
        </div>  

        <div class="cookies-section">
            <h2>Gestion des cookies</h2>

            <p>En accédant à notre site, vous pouvez accepter ou non les cookies.
                La sécurité de vos données personnelles est primordiale pour nous.
            </p>
        </div>  

        <div class="cookies-section">
            <h2>Combien de temps gardons-nous vos données ?</h2>

            <p>Nous conservons vos données personnelles pendant deux ans à compter de votre dernière connexion sur notre site.
            </p>

        </div>      
    </div>
</div>
