
<body>
    <section class="container">
        <h2 id="title">Inscription</h2>
        <div class="form-container">
            <small class="required" style="font-size: 18px; margin-left: 236px;">*Ces champs sont obligatoires</small>
            <form>
                <div class="form-row">
                    <div class="form-group">
                        <label for="fName">Prénom<span class="required">*</span></label>
                        <input type="text" id="fName" placeholder="Dupond" required="required" style="width: 307px;">
                    </div>
                    <div class="form-group">
                        <label for="lName">Nom de Famille<span class="required">*</span></label>
                        <input type="text" id="lName" placeholder="Dupond" required="required" style="width: 307px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pseudo">Pseudonyme<span class="required">*</span></label>
                    <input type="text" id="pseudo" placeholder="Pseudonyme" required="required">
                </div>
                <div class="form-group">
                    <label for="email">Email address<span class="required">*</span></label>
                    <input type="email" id="email" placeholder="email@email.fr" required="required">
                </div>
                <div class="form-group">
                    <label for="tel">Téléphone</label>
                    <input type="tel" id="tel" placeholder="06 12 34 56 78">
                </div>
                <div class="form-group">
                    <label for="password">Password<span class="required">*</span></label>
                    <input type="password" id="password" placeholder="*******************" required="required">
                </div>
                <div class="checkbox-group">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <span class="slider-text">Vous possédez une imprimante 3D et souhaitez proposer vos services?
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" style="background-color: #aa4141; border-color: #aa4141;">
                    <label> <small style=" color: #767676">En cochant cette case, vous confirmez les CGU<span class="required">*</span></small></label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" style="background-color: #aa4141; border-color: #aa4141;">
                    <label><small style=" color: #767676"> En cochant cette case, vous confirmez les CGPS<span class="required">*</span></small></label>
                </div>
                <div class="button-group">
                    <button type="submit" class="button" style="font-size: 24px;"><b>S'inscrire</b></button>
                    <button type="button" class="btn btn-secondary"style="font-size: 24px;"><b> Se connecter</b></button>
                </div>
            </form>
        </div>
    </section>
</body>
