<div class="container">
    <form action="" method="post" class="form-section">
        <h1>Proposer une offre</h1>
        <p class="required">*Ces champs sont obligatoires</p>

        <?php if (!empty($errors)) : ?>

        <?php foreach ($errors as $error): ?>
        <div class="wrong-edit">
            <?= $error ?> <br/>
        </div>
        <?php endforeach; ?>

        <?php endif; ?>

        <div class="section">
            <h2 class="subtitle">Informations de l'offre</h2>

            <!-- title -->
            <div class="form-control">
                <label for="title">Titre<span class="required">*</span></label>
                <input type="text" id="title" name="title" placeholder="Titre de l'offre..." maxlength="40" required>
            </div>

            <!-- description -->
            <div class="form-control">
                <label for="description">Description<span class="required">*</span></label>
                <textarea id="description" name="description" rows="4" placeholder="Description de l'offre..." maxlength="200"></textarea>
            </div>

            <!-- price -->
            <div class="form-control">
                <label for="price">Prix<span class="required">*</span></label>
                <input type="number" id="price" name="price" placeholder="Prix de l'offre..." min="0" max="99999" step="0.01" required>
            </div>
        </div>

        <div class="section">
            <h2 class="subtitle">Illustration</h2>

            <!-- description file -->
            <div class="form-control">
                <label for="illustration" class="input-file-label">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                    </svg>
                    Choisir une illustration...
                </label>
                <input type="file" id="illustration" name="illustration"  accept="image/jpeg, image/png">
            </div>
        </div>

        <!-- create button -->
        <div class="save-button">
            <button type="submit">
                Proposer l'offre
            </button>
        </div>
    </form>
</div>
