<head>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<div id="order-history">
    <h1 class="title">Historique de commandes</h1>
    <div class="card">
        <div class="order">
            <div class="img_order">
                <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="350px" height="250px">
            </div>
            <h2 class="order-title">Titre de commande</h2>
            <h3 class="order-price">Prix</h3>
            <p class ="order-desc"> Description blablabla
            </p>
            <button class='see-order'href="">Voir</button>
            <div>
        
        <div class="order">
            <div class="img_order">
                <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="350px" height="250px">
            </div>
            <h2 class="order-title">Titre de commande</h2>
            <h3 class="order-price">Prix</h3>
            <p class ="order-desc"> Description blablabla
            </p>
            <button class='see-order'href="">Voir</button>
            <div>
            
        </div>
        </div>
        
    </div>
</div>
