<head>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<h1 class="title">Historique de commandes</h1>
<div class="history">
    <div id="order-history">
        <div class="card">
            <div class="order">
                <div class="img_order">
                    <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="300px" height="260px">
                </div>
                <h2 class="order-title">Titre de commande</h2>
                <h3 class="order-price">Prix</h3>
                <p class ="order-desc"> Description blablabla
                </p>
                <button class='see-order'href="">Voir</button>
                <div>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="order">
                <div class="img_order">
                    <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="300px" height="260px">
                </div>
                <h2 class="order-title">Titre de commande</h2>
                <h3 class="order-price">Prix</h3>
                <p class ="order-desc"> Description blablabla
                </p>
                <button class='see-order'href="">Voir</button>
                <div>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="order">
                <div class="img_order">
                    <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="300px" height="260px">
                </div>
                <h2 class="order-title">Titre de commande</h2>
                <h3 class="order-price">Prix</h3>
                <p class ="order-desc"> Description blablabla
                </p>
                <button class='see-order'href="">Voir</button>
                <div>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="order">
                <div class="img_order">
                    <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="300px" height="260px">
                </div>
                <h2 class="order-title">Titre de commande</h2>
                <h3 class="order-price">Prix</h3>
                <p class ="order-desc"> Description blablabla
                </p>
                <button class='see-order'href="">Voir</button>
                <div>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="order">
                <div class="img_order">
                    <img src="https://media.gqmagazine.fr/photos/6203e0437062f69af08324de/16:9/w_1920,c_limit/The-Batman-Homme-Mystere.jpg" alt="" width="300px" height="260px">
                </div>
                <h2 class="order-title">Titre de commande</h2>
                <h3 class="order-price">Prix</h3>
                <p class ="order-desc"> Description blablabla
                </p>
                <button class='see-order'href="">Voir</button>
                <div>
            </div>
            </div>

        <div class="offer-card">
            <img src="./assets/images/placeholder.svg" alt="">
            <div class="card-info">                    
                <h4 class="card-title">Titre de commande</h4>
                <h3 class="card-price">Prix</h3>
                <p class ="card-description"> Description blablablablablablablablablablablablablabla</p>
                <p class="card-status">Statut : à imprimer</p>
                <button class='button button-buy'href="">Voir</button>
            </div>
        </div>

        

        <div class="offer-card">
            <img src="./assets/images/placeholder.svg" alt="Image de l'offre">
            <div class="card-info">
                <h4 class="card-title">Titre de l'offre</h4>
                <h3 class="card-price">1 000 000 €</h3>
                <p class="card-description">Description de l'offre sur 200 caractères max</p>
                <p class="card-status">Statut : à imprimer</p>
                <button class="button button-buy">Acheter</button>
            </div>
        </div>

    

        
        
    </div>
    

</div>
