<div class="container">
    <h1 class="title">Panier</h1>
    
    <div class="small">
        <p>Passez la commande</p>
    </div>

    <table class="table-shopping-cart">
        <thead>
            <tr>
                <th class="elements">Photo Produit</th>
                <th class="elements">Référence du produit</th>
                <th class="elements">Titre du produit</th>
                <th class="elements">Prix</th>
                <th class="elements">Vendeur</th>
                <th class="elements">Supprimer du panier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>photo...</td>
                <td>REF-F45GHI</td>
                <td>Cintre en plastique</td>
                <td>5€</td>
                <td>Mathieu GEISSEL</td>
                <td><button>Supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>
