<div class="container">

    <div class="shopping-cart">

        <h1 class="shopping-cart-title">Mon panier</h1>

        <?php if (isset($products)) : ?>
        <div class="shopping-cart-container">
            <?php foreach ($products as $item) : ?>
            <div class="product-card">
                <div class="product-image">
                    <?php $imgName = $item['chemin_image'] ? './uploads/' . $item['chemin_image'] : './assets/images/placeholder.svg'; ?>
                    <img src="<?= $imgName ?>" alt="Image de l'offre">
                </div>
                
                <div class="product-details">
                    <p class="product-title"><?= $item['titre'] ?> - <?= $item['prix'] ?> €</p>
                    <p class="product-description"><?= $item['description'] ?></p>
                </div>

                <form action="" method="post">
                    <input type="hidden" name="productId" value="<?= $item['id_produit_fini'] ?>">
                    <button type="submit" class="button delete-product">Supprimer du panier</button>
                </form>
            </div>
            <?php endforeach; ?>
        </div>

        <div class="container-payment">
            <button class="button button-payment">
                Payer mon panier
            </button>
        </div>

        <?php else : ?>

        <p class="empty-message">Aucun produit dans votre panier.</p>

        <?php endif; ?>
    </div>

</div>
