<div class="container">

    <div class="shopping-cart">

        <h1 class="shopping-cart-title">Mon panier</h1>

        <?php if (isset($products)) : ?>
        <div class="shopping-cart-container">
            <?php foreach ($products as $item) : ?>
            <div class="product-card">
                <div class="product-image">
                    <img src="./assets/images/placeholder.svg" alt="Image de l'offre">
                </div>
                
                <div class="product-details">
                    <p class="product-title"><?= $item['titre'] ?> - <?= $item['prix'] ?> €</p>
                    <p class="product-description"><?= $item['description'] ?></p>
                </div>
        
                <button class="button delete-button">Supprimer du panier</button>
            </div>
            <?php endforeach; ?>
        </div>
        <?php endif; ?>
        

    </div>

</div>
