<div class="container container-sign-up">
    <div class="sign-up">
        <h1>Inscription</h1>
        <p class="required">*Ces champs sont obligatoires</p>
        <form action="sign-up.php" class="form sign-up-form" method="post">
            <div class="form-row">
                <!-- first-name --->
                <div class="form-control">
                    <label for="fName">Prénom<span class="required">*</span></label>
                    <input type="text" id="fName" maxlength="50" placeholder="Votre prénom..." name="prenom" required>
                </div>
                <!-- last-name --->
                <div class="form-control">
                    <label for="lName">Nom de famille<span class="required">*</span></label>
                    <input type="text" id="lName" maxlength="50" placeholder="Votre nom..." name="nom" required>
                </div>
            </div>
            <!-- username --->
            <div class="form-control">
                <label for="username">Pseudonyme<span class="required">*</span></label>
                <input type="text" id="username" maxlength="30" placeholder="Votre pseudonyme..." name="pseudonyme" required>
            </div>
            <!-- email --->
            <div class="form-control">
                <label for="email">Email<span class="required">*</span></label>
                <input id="email" maxlength="255" placeholder="Votre email..." required type="email" name="email">
            </div>
            <!-- tel --->
            <div class="form-control">
                <label for="tel">Téléphone</label>
                <input type="text" id="tel" maxlength="13" placeholder="+33 6 12 34 56 78" name="telephone">
            </div>
            <!-- password --->
            <div class="form-control">
                <label for="password">Mot de passe<span class="required">*</span></label>
                <input id="password" type="password" placeholder="Votre mot de passe..." required name="motDePasse">

                <!-- show/hide password  -->
                <span class="eye-span signup-eye">
                <i class="fa-solid fa-eye" aria-hidden="true"  type="button" id="eye"></i>
            </span>
            </div>
            <label class="toggle">
                <input type="checkbox" class="toggle-input" id="toggleDescription">
                <span class="toggle-label"></span>
                Vous possédez une imprimante 3D et souhaitez proposer vos services.
            </label>
            <div class="checkbox-group">
                <input class="checkbox" type="checkbox">
                <label>En cochant cette case, vous confirmez avoir plus de 18 ans<span class="required">*</span></label>
            </div>
            <div class="checkbox-group">
                <input class="checkbox" type="checkbox">
                <label>En cochant cette case, vous confirmez avoir lu les <a href="cgu.php">CGU</a><span class="required">*</span></label>
            </div>
            <div class="checkbox-group">
                <input class="checkbox" type="checkbox">
                <label>En cochant cette case, vous confirmez avoir lu les <a href="cgps.php">CGPS</a><span class="required">*</span></label>
            </div>
            <!-- submit --->
            <div class="button signup-button">
                <input type="submit" class="btn submit" value="S'inscrire"/>
            </div>
        </form>

        <div class="button go-login-button">
            <button class="button go-to-login-button" onclick="window.location.href = 'log-in.php';">Se connecter</button>
        </div>
    </div>
</div>