<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link href="NavBar.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="NavBar.js"></script>
</head>

<body>
	<div class="navBar">
		<img src="../../images/logo.svg" width="276" height="56" alt="Logo" style="margin-top: 12px; margin-left: 22px;">
		<div id="right_elements">
			<img src="../../images/profil.svg" width="64" height="64" alt="Profile" style="margin-right: 10px; margin-top: 6px;">
			<b id="pseudo">Pseudonyme</b>
		</div>	
 	</div>
		<div id="dropdown">
				<span class="drop-content">Historique de commandes</span><br><br>
				<span class="drop-content">Editer le profil</span><br><br>
				<hr style="border: 1px solid #D1D1D1; margin-bottom: 8px;">
				<span class="drop-content" style="color: #8D1D3A; margin-top: 8px;"><b>Se déconnecter</b></span>
 		</div>
</body>
</html>
