*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    margin: 0;
    background-color: #f1f1f1;
    overflow: visible; 
    width: 100%;
    position: fixed;
    border-radius: 0 0 10px 10px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
    }


#right_elements {
    display: flex;
    float: right;
    height: 80px;
    width: fit-content;
    margin-right: 11px;
    position: relative;
    overflow: visible;
}

#pseudo {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px; 
    font-family: 'Kanit', sans-serif;
    color: #122965;
    position: relative;
    height: fit-content;
}

#dropdown {
    display: none;
    text-align: center;
    background-color: #f1f1f1;
    width: 217px;
    height: fit-content;
    padding: 12px;
    margin-top: 80px !important;
    float: right;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}
.drop-content{
    font-family: 'Kanit', sans-serif;
    color: rgba(0, 0, 0, 0.65);
}

