<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link href="Navebarre.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="Navebarre.js"></script>

<body>
	<ul class="navBar">
		<li style="margin-left: -30px;"><img src="../../images/logo.svg" width="250" height="50" alt="Logo"></li>
		<div class="right_elements">
			<li style="margin-right: 10px; margin-top: 6px;"><img src="../../images/profil.svg" width="40" height="40" alt="Profile"></li>
			<li id="pseudo"><b>Pseudonyme</b></li>
		</div>	
 	</ul>
		<div id="dropdown">
 				 <p class="drop-content">Historique de commande</p>
 				 <p class="drop-content">Editer le profil</p>
 				 <div style="border-top: 1 px solid red;">
 				 	<p class="drop-content">Se déconnecter</p>
 				 </div>
 		</div>
</body>
</html>
