@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color: #122965;
    --base-color-2: #F1F1F1;
    --base-color-3: #FFFFFF;
    --secondary-text-color: rgb(0 0 0 / .65);
    --important-element-color: #732440;
    --accentuation_color: #D1D1D1;
    --secondary-border-color: #A9A9A9;
    --navbar-height: 80px;
    --footer-height: 11vh;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', serif;
    background-color: var(--base-color-2);
    color: var(--base-color);
    margin-top: var(--navbar-height);
}

.container {
    min-height: calc(100vh - (var(--navbar-height) + var(--footer-height))) !important;
}

.container-log-in {
    padding-top: 6.5%;
}

.container-sign-up {
    padding-top: 2.5%;
}

.underline {
    text-decoration: underline;
}

button{
    background-color: var(--important-element-color);
    border: 2px solid var(--important-element-color);
    font-family: 'Kanit', serif;
    font-weight: bold;
    color: var(--base-color-2);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    border-radius: 10px;
}

.button-bordered {
    background-color: #fff;
    color: var(--important-element-color);
}

input, textarea, select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accentuation_color);
    outline: none;
}

input[type="file"] {
    display: none;
}

textarea {
    font-family: 'Kanit', serif;
    font-size: 13px;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid var(--secondary-text-color);
}

input, button {
    font: inherit;
}

label {
    margin-bottom: 3px;
}

.navbar {
    background-color: var(--base-color-2);
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header-logo {
    padding-left: 5% !important;
}

.img-logo {
    width: 70%;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
    margin-left: -4%;
}

.navbar-links li {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.navbar-links li a {
    color: var(--base-color);
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
}

.navbar-links li:hover {
    background-color: var(--accentuation_color);
}

.profil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 10px;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.img-shopping-cart {
    width: 35px;
    height: 35px;
    margin-top: 10%;
    margin-right: 10px;
}

.img-profil {
    width: 50px;
    height: 50px;
}

#pseudo {
    font-size: 1.3em;
}

#dropdown {
    position: absolute;
    top: calc(var(--navbar-height) - 8px);
    left: 50%;
    transform: translateX(-50%);

    display: none;
    padding: 8px 8px 0 8px;
    width: 115%;

    background-color: var(--base-color-2);
    color: var(--secondary-text-color);

    border-radius: 10px;

    text-align: center;
    border: 1px solid var(--accentuation_color);
    transition: width .2s;
}

.drop-content {
    padding-bottom: 2%;
}

#dropdown a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

#separation-bar {
    border: 0.01rem solid var(--base-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

#dropdown a {
    text-decoration: none !important;
}

.logout {
    color: var(--important-element-color);
    font-weight: bold;
    text-decoration: none !important;
    margin-bottom: 5%;
}

.auth {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-right: 1%;
}

.button-login, .button-signup, .button-catalog, .button-log-in {
    border: 3px solid var(--important-element-color);
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width: 40%;

    cursor: pointer;
}

.button-login {
    background-color: var(--important-element-color);
    color: var(--base-color-3);
    width: 40%
}

.button-signup {
    background-color: var(--base-color-2);
    color: var(--important-element-color);
}

.go-login-button, .go-signup-button {
    background-color: var(--base-color-3);
}

.wrong-login, .wrong-edit, .wrong-signup {
    display: block;
    color: red;
    margin-top: 6%;
    text-align: center;
    font-size: 1.4em;
}

.wrong-edit {
    margin-top: -2% !important;
    margin-bottom: 2%;
    font-style: italic;
}

.wrong-signup {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1em;
}

/* MAIN CONTAINER */
.wrong-signup {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1em;
}

/* main container */

.footer {
    background-color: var(--base-color);
    color: var(--base-color-2);
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.footer a {
    color: var(--base-color-2);
    text-decoration: none;
}

.footer-logo {
    padding: 0.5% 1% 0 3%;
}

.footer-copyrights {
    padding-right: 8%;
}

.footer-links {
    width: 40%;
}

.footer-links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
    list-style: none;
}


/* FAQ PAGE */
#faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--base-color-2);
    min-height: calc(89vh - 80px);
    padding-top: 2%;
    padding-bottom: 2%;
}

#faq-question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.question {
    border: 1px solid var(--secondary-border-color);
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--base-color-3);
    width: 60%;
}

.question h2 {
    overflow: clip;
    font-size: 24px;
    width: calc(100% - 48px);
    cursor: pointer;
}

.answer {
    display: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.65);
    padding-top: 20px;
}

.chevron {
    position: relative;
    float: right;
    height: 36px;
    width: 36px;
    transition: all 0.5s;
    right: 2px;
    cursor: pointer;
}

.down {
    transform: rotate(0deg);
}

.up {
    transform: rotate(180deg);
}

/* END FAQ PAGE */

/* LEGAL PAGES */
.legal-page-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    gap: 60px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.legal-page-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.legal-notices h2 {
    margin-bottom: 10px;
}

.notice-section, .website-link {
    color: var(--secondary-text-color);
}

.notice-section ul {
    padding-left: 40px;
    margin-top: 10px;
}

/* END LEGAL PAGES */

.log-in, .sign-up {
    width: 30%;
    margin: auto auto auto auto;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--base-color-3);
}

.log-in h1, .sign-up h1, .edit-profile h1, #contact-page h1 {
    text-align: center;
    margin-top: 2%;
}

.log-in a, .sign-up a {
    text-decoration: none;
}

.eye-span {
    width: fit-content;
    cursor: pointer;
    float: right;
    position: relative;
    left: 93%;
    margin-top: -8%;
}

/* EDIT PROFILE PAGE */
.form-section {
    width: 50%;
    margin-left: 25%;
    margin-top: 6%;
    margin-bottom: 2%;

    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--base-color-3);
}

.form-section h1 {
    text-align: center;
    margin-bottom: 10px;
}

.section {
    padding: 25px;
    border: 1px solid var(--accentuation_color);
    border-radius: 10px;
    margin-bottom: 25px;
}

.form-container {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    padding-bottom: 2%;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-bottom: 5%;
}

/* END EDIT PROFILE PAGE */

.login-button, .go-signup-button, .go-login-button, .signup-button {
    text-align: center;
    margin-top: 5%;
}

.go-signup-button, .go-login-button {
    margin-bottom: 3%;
}

.go-to-signup-button, .go-to-login-button {
    background-color: var(--base-color-3);
    color: var(--important-element-color);
    border-radius: 8px;

    text-align: center;
}

.submit, .go-to-signup-button, .go-to-login-button {
    border: 3px solid var(--important-element-color);
    border-radius: 10px;
    padding: 12px;
    font-size: 1.1em;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width: 35%;

    cursor: pointer;
}

.submit {
    background-color: var(--important-element-color);
    color: var(--base-color-3);
}

label {
    margin-bottom: 3px;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accentuation_color);
    outline: none;
}

input[type="file"] {
    display: none;
}

textarea {
    font-family: 'Kanit', serif;
    font-size: 13px;
}

input:focus, textarea:focus {
    border: 1px solid var(--secondary-text-color);
}

.edit-profile h1 {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.title {
    text-align: center;
    font-size: 65px;
    margin-bottom: 25px;
    color: var(--base-color);
    margin-top: 40px;
}

.toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.toggle-input {
    display: none;
}

.toggle-label {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--accentuation_color);
    border-radius: 25px;
    transition: background-color 0.2s;
}

.toggle-label::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: var(--base-color-3);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: var(--secondary-text-color);
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(25px);
}

.save-button {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/* DEMAND CREATION PAGE */
.input-file-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: 1px solid var(--accentuation_color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.input-file-label:hover {
    background-color: #e6e9ec;
}

.icon {
    width: 20px;
    height: 20px;
}

.file-label-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* SHOPPING CART PAGE */
.shopping-cart {
    margin-top: 8%;
}

.shopping-cart h1 {
    text-align: center;
}

.shopping-cart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    justify-items: stretch;
    margin: 25px 150px 50px;
}

.product-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid var(--accentuation_color);
    background-color: var(--base-color-3);
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    position: relative;
}

.product-image {
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

.delete-product {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.empty-message {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}

.container-payment {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.button-payment {
    padding: 15px;
    width: 30%;
}
/* END SHOPPING CART PAGE */


/* HOME PAGE */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - var(--navbar-height));
    border-bottom: #B1BFB2 0.5px solid;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    align-items: center;
}

.hero-text p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
}

.hero-container img {
    width: 48vw;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.button-hero {
    padding: 2%;
    font-size: 1.1em;
}

.button-bordered-second {
    background-color: var(--base-color-2);
    color: var(--important-element-color);
    border: 3px solid var(--important-element-color);
}

.hero-button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.button-log-in {
    width: 15%;
    padding: 1% 0;
}

.categories {
    text-align: center;
    width: auto;
    z-index: 1;
    margin: 2% auto 5%;
}

.offers-container {
    transform: translateY(-60px);
}

.price-filter-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
    margin-left: 40px;
}

.price-filter-container button {
    font-weight: 600;
    font-size: 1.3em;
    padding-left: 5%;
    padding-right: 5%;
}

.price-filter-container input {
    appearance: textfield;
    width: 110px;
}

.price-filter-text {
    color: var(--important-element-color);
    font-size: 1.2em;
    align-content: center;
}

.category {
    color: var(--important-element-color);
    font-size: 1.8em;
    font-weight: 600;
    font-style: italic;
    padding: 10px 8%;
}

.search-bar-offer, .search-bar-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: -3% 2% 1% auto;
}

.search-bar-request {
    width: 20%;
    margin: -3% 0.5% 1% auto;
}

.search-bar-input, #search-bar-input-2 {
    background-color: var(--base-color-2);
    border: 2px solid var(--important-element-color);
    color: var(--important-element-color);
    font-size: 1.2em;
}

#search-bar-input-2 {
    width: 100%;
}

.search-bar-input::placeholder, #search-bar-input-2::placeholder {
    color: var(--important-element-color);
}

.button-search, .button-accept {
    all: inherit;
    position: relative;
    right: 14%;
    margin-top: 1%;
    color: var(--important-element-color);
}

.items-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.item-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

.item-card img, .order-history-img {
    object-fit: contain;
    width: 100%;
    height: 282px;
}

.card-description {
    margin-bottom: 5%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 2%;
    color: var(--secondary-text-color);
}

.card-description, .card-status {
    font-weight: 300;
    color: var(--secondary-border-color);
    text-align: left;
}

.button-buy, .button-accept {
    background-color: var(--base-color);
    color: var(--base-color-3);
    border-color: var(--base-color);
    border-radius: 8px;
    padding: 5px 6%;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 2% 1% auto;
    text-align: right;
    cursor: pointer;
}

/* TODO */
.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 2% 5% 2% auto;
    gap: 10px;
    font-size: 1.8em;
}

.page-number {
    background-color: var(--base-color-2);
    cursor: pointer;
    width: 2%;
    text-align: center;
}

.pagination > .active {
    color: var(--base-color-3) !important;
    background-color: var(--base-color) !important;
    border-radius: 20%;
}

/* SIGN UP */
.sign-up {
    width: 45%;
    margin: 2% auto 3% auto !important;
}

.sign-up h1 {
    margin-bottom: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sign-up-form .form-control {
    width: 100%;
}

.sign-up .toggle {
    margin-top: 2%;
    margin-bottom: 5%;
    padding-bottom: 0;
}


/* LABEL AND WRITE PART */
.required {
    color: red;
    padding-bottom: 4%;
    text-align: center;
}

.required-signup {
    padding-bottom: 0;
}

.signup-eye {
    left: 95%;
    margin-top: -4.5%;
}

/* END LABEL AND WRITE PART */

/* CHECK BOX AND BUTTON */
.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px 10px 10px 0;
    gap: 10px;
}

.checkbox-group a {
    color: var(--base-color);
    text-decoration: underline;
}

.checkbox {
    width: 16px;
    height: 18px;
    margin-top: 0.45%;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* END CHECKBOX AND BUTTON */

/* CONTACT PAGE */
#contact-page {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    width: 30%;
    text-align: left;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--base-color-3);
}

.send-button {
    display: flex;
    justify-content: center;
}

/* END CONTACT PAGE */


/* COOKIES */
.cookies {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 60px;
}

.first-h2-cookie {
    margin-top: -2%!important;
}

.cookies h2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*ADMIN PANEL*/
.admin-menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10%;
    gap: 50px;
}

.admin-menu ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.admin-menu ul li {
    margin:5% 5%;
}
.admin-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* Format mobile */
@media screen and (max-width: 817px) {
    #dropdown {
        right: 0;
        width: 98vw;
        transform: none;
        left: auto;
    }

    .footer {
        height: 20vh;
    }

    .footer-logo, .footer-copyrights {
        display: none;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    /*HOME PAGE*/
    .hero-container {
        flex-direction: column-reverse;
    }

    .hero-container img {
        display: none;
    }

    /* EDIT PROFILE PAGE */
    .edit-profile {
        width: 95%;
        margin-left: 2.5%;
    }

    /* LEGAL PAGES */
    .legal-page-container {
        width: 80%;
        margin-left: 10%;
    }
}

/* Format tablette */
@media screen and (min-width: 818px) and (max-width: 1561px) {
    body {
        font-size: 0.8em;
    }

    .footer-links {
        width: 60%;
    }

    /* LEGAL PAGES */
    .legal-page-container {
        width: 80%;
        margin-left: 10%;
    }
}


/* order-history*/


.order-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.order-history .item-card {
    flex-basis: calc(30%);
    box-sizing: border-box;
    flex: 1 0 20%;
    max-width: 243px; 
    
}



