@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color: #122965;
    --base-color-2: #F1F1F1;
    --base-color-3: #FFFFFF;
    --secondary-text-color: rgb(0 0  0 / .65);
    --important-element-color: #732440;
    --accentuation_color: #D1D1D1;
    --navbar-width: 80px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', serif;
    background-color: var(--base-color-2);
    color: var(--base-color);
    margin-top: var(--navbar-width);
}

.underline {
    text-decoration: underline;
}

.navbar {
    width: 100%;
    height: var(--navbar-width);
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 1%;
}

.img-logo {
    width: 70%;
}

.profil {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-right: 1.5%;
    cursor: pointer;
    user-select: none;
}

.img-profil {
    width: 64px;
    height: 64px;
}

#pseudo {
    font-size: 1.3em;
}

#dropdown {
    position: absolute;
    top: calc(var(--navbar-width) - 8px);
    left: 50%;
    transform: translateX(-50%);

    display: none;
    padding: 8px 8px 0 8px;
    width: 115%;

    background-color: var(--base-color-2);
    color: var(--secondary-text-color);

    border-radius: 10px;

    text-align: center;
    border: 1px solid var(--accentuation_color);
    transition: width .2s;
}

.drop-content {
    padding-bottom: 2%;
}

#separation-bar {
    border: 0.01rem solid var(--base-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.logout {
    color: var(--important-element-color);
    font-weight: bold;
}

/* main container */

.footer {
    background-color: var(--base-color);
    color: var(--base-color-2);
    width: 100%;
    height: 11vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer a {
    color: var(--base-color-2);
    text-decoration: none;
}

.footer-logo {
    padding: 0.5% 1% 0 3%;
}

.footer-copyrights {
    padding-right: 8%;
}

.footer-links {
    width: 40%;
}

.footer-links-list {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    list-style: none;
}

/* Format mobile */
@media screen and (max-width: 817px) {
    #dropdown {
        right: 0;
        width: 98vw;
        transform: none;
        left: auto;
    }

    .footer {
        height: 20vh;
    }

    .footer-logo, .footer-copyrights {
        display: none;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10%;
    }
}

/* Format tablette */
@media screen and (min-width: 818px) and (max-width: 1561px) {
    body {
        font-size: 0.8em;
    }

    .footer-links {
        width: 60%;
    }
}

/*Inscription*/
/*FORM */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    border: 2px solid #A9A9A9;
    background-color: #ffffff;
    padding: 20px;
    width: 742px;
    height: 740px;
    border-radius: 8px;
}
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin: 10px;
    height: 80px;
}

/* END FORM*/
/*LABEL AND WRITE PART*/
h2 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 20px;
    color: #122965;
}
.required{
    color: red;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #122965;
    font-family: 'Kanit' sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #B3B3B3;
    color: #B3B3B3;
    border-radius: 10px;
}
/*END LABEL AND WRITE PART*/
/*CHECK BOX AND BUTTON*/
.checkbox-group {
    margin: 10px 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-secondary { /*button vide*/
    background-color: white;
    color: #aa4141;
    border: #aa4141; /*Pourquoi cela ne marche pas?*/
}

.btn-secondary:hover {
    background-color: #aa4141;
    color: white;
}
/*END CHECKBOX AND BUTTON*/
/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider-text {
    margin-left: 10px;
    font-size: 18px;
    color: #122965;
}
/*END SWITCH*/
