/*ADMIN PANEL*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    gap : 50px;
}

.main section#faq,.main section#supprimer-utilisateur,.main section#supprimer-produit {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--accentuation_color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.main form{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.main form textarea, .main form label, .main form select, .main form input{
    width: 60%;
}
.main form input[type="submit"]{
    width : 35%;
}

.main form select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accentuation_color);
    outline: none;
}

.main form button{
    width: 20%
    }

.main table{
    width: 90%;
    margin-top: 2em;
    border-collapse: collapse;

}

.main th, td{
    padding: 15px;
    text-align: left;
}

.main th:first-child{
    border-top-left-radius: 10px;
}
.main th:last-child{
    border-top-right-radius: 10px;
}

.main tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
.main tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

.main th:last-child{
    text-align: center;
}

.main th{
background-color: var(--accentuation_color);
color:var(--base_color-2);
}

.main tr:nth-child(even){
    background-color: var(--base-color-2);
}

.main tr:nth-child(even):hover{
    background-color: var(--accentuation_color);
}

.main tr:nth-child(odd){
    background-color: var( --base-color-3);
}

.main tr:nth-child(odd):hover{
    background-color: var(--accentuation_color);
}

.main a{
    text-decoration: none;
    color: black;
}

.main select{
    padding: 10px;
    margin: 10px;
}

.main table .submit{
    border: 3px solid var(--important-element-color);
    border-radius: 10px;
    padding: 12px;
    font-size: 1.1em;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width:95%;

    cursor: pointer;
    background-color: var(--important-element-color);
    color: var(--base-color-3);
}