@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color: #122965;
    --base-color-2: #F1F1F1;
    --base-color-3: #FFFFFF;
    --secondary-text-color: rgb(0 0  0 / .65);
    --important-element-color: #732440;
    --accentuation_color: #D1D1D1;
    --navbar-width: 80px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', serif;
    background-color: var(--base-color-2);
    color: var(--base-color);
    margin-top: var(--navbar-width);
}

.underline {
    text-decoration: underline;
}

button {
    background-color: var(--important-element-color);
    border: 3px solid var(--important-element-color);
    font-family: 'Kanit', serif;
    font-weight: bold;
    color: var(--base-color-2);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    border-radius: 10px;
}

.navbar {
    width: 100%;
    height: var(--navbar-width);
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 1%;
}

.img-logo {
    width: 70%;
}

.profil {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-right: 1.5%;
    cursor: pointer;
    user-select: none;
}

.img-profil {
    width: 64px;
    height: 64px;
}

#pseudo {
    font-size: 1.3em;
}

#dropdown {
    position: absolute;
    top: calc(var(--navbar-width) - 8px);
    left: 50%;
    transform: translateX(-50%);

    display: none;
    padding: 8px 8px 0 8px;
    width: 115%;

    background-color: var(--base-color-2);
    color: var(--secondary-text-color);

    border-radius: 10px;

    text-align: center;
    border: 1px solid var(--accentuation_color);
    transition: width .2s;
}

.drop-content {
    padding-bottom: 2%;
}

#separation-bar {
    border: 0.01rem solid var(--base-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.logout {
    color: var(--important-element-color);
    font-weight: bold;
}

/* main container */

.footer {
    background-color: var(--base-color);
    color: var(--base-color-2);
    width: 100%;
    height: 11vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer a {
    color: var(--base-color-2);
    text-decoration: none;
}

.footer-logo {
    padding: 0.5% 1% 0 3%;
}

.footer-copyrights {
    padding-right: 8%;
}

.footer-links {
    width: 40%;
}

.footer-links-list {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    list-style: none;
}

/* EDIT PROFILE CSS */
.edit-profile {
    width: 50%;
    margin-left: 25%;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section {
    padding: 25px;
    border: 1px solid var(--accentuation_color);
    border-radius: 10px;
    margin-bottom: 25px;
}

.form-container {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.edit-profile h1 {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

label {
    color: var(--secondary-text-color);
    margin-bottom: 3px;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accentuation_color);
    outline: none;

}

input:focus, textarea:focus {
    border: 1px solid var(--secondary-text-color);
}

.toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--accentuation_color);
    border-radius: 25px;
    transition: background-color 0.2s;
}

.toggle-label::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: var(--secondary-text-color);
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(25px);
}

.save-button {
    display: flex;
    justify-content: flex-end;
}

/* Format mobile */
@media screen and (max-width: 817px) {
    #dropdown {
        right: 0;
        width: 98vw;
        transform: none;
        left: auto;
    }

    .footer {
        height: 20vh;
    }

    .footer-logo, .footer-copyrights {
        display: none;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10%;
    }


    /* EDIT PROFILE CSS */
    .edit-profile {
        width: 95%;
        margin-left: 2.5%;
    }
}

/* Format tablette */
@media screen and (min-width: 818px) and (max-width: 1561px) {
    body {
        font-size: 0.8em;
    }

    .footer-links {
        width: 60%;
    }
}