<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="./assets/images/favico.ico" rel="icon">
    <title><?= $title ?> | Makerhub</title>
</head>
<body>
    <div id="faq-container">
        <h1 class="title">FAQ</h1>
        <div class="question">
            <img class="chevron down" src="./assets/images/Chevron.svg" alt="Chevron">
            <h2>Comment s'inscrire sur Makerhub ?</h2>            
            <p class="answer">Il suffit de cliquer sur le bouton "S'inscrire" en haut à droite de la page d'accueil. Vous devrez ensuite remplir un formulaire avec vos informations personnelles.</p>
        </div>
    </div>
</body>
</html>